<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Hábitat y Construcción</a>

    {% if user.is_authenticated %}

        <div class="ml-auto">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api:facebookUsers' %}">Facebook API</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api:resultados' %}">Resultados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'api:admin' %}">Registrar formularios</a>
                </li>
                &nbsp;
                <li class="nav-item">
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'api:logout' %}"><i
                            class="fa fa-sign-out"></i></a>
                </li>
            </ul>
        </div>
    {% else %}

        <div class="ml-auto">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="btn btn-outline-info" href="{% url 'api:login' %}">Login</a>
                </li>
            </ul>
        </div>

    {% endif %}

</nav>
