{% load static %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>H&B</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN"
          crossorigin="anonymous">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
</head>
<body>
{% include 'navbar/navbar.html' %}

<div class="d-flex justify-content-center mt-3 pa-5 ">
    <div class="card text-white bg-secondary mb-3" style="max-width: 50rem;">
        <div class="card-header">
            <h3>
                Campañas
            </h3>
        </div>
        <div class="card-body">
            {% if formularios_list %}
                {% for formularios in formularios_list %}
                    {% if formularios.estado %}

                        <div class="alert alert-dismissible alert-light">
                            <strong>{{ formularios.nombreFormulario }}!</strong>
                            <p class="card-text">
                                {{ formularios.descripcion }}
                            </p>
                            <a href="{{ formularios.urlFormulario }}" class="btn btn-info">
                                Ingresar al formulario
                            </a>
                        </div>

                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert alert-dismissible alert-primary">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Atención!</strong> Lista Vacia
                </div>
            {% endif %}

            <p class="card-text">Seleccione cualquiera de las encuestas disponibles.</p>
        </div>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</html>
